.Headersec{
    height: 70vh;
    width: 100%;
    background: url("https://c4.wallpaperflare.com/wallpaper/686/759/800/women-celebrity-nicola-peltz-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y:0px;
    background-position-x: 400px;
    padding-top: 100px;
}

.Headersec h1{
    font-size: 60px;
}

.Headersec h2{
    font-size: 40px;
}

.Headersec button{
    background: whitesmoke;
    color: black;
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width:800px) {
    .Headersec{
        height: 70vh;
        width: 100%;
        background: url("https://c4.wallpaperflare.com/wallpaper/686/759/800/women-celebrity-nicola-peltz-wallpaper-preview.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        text-align: center;
        color: white;
        padding-top: 150px;
    }
}